# Geçici baskı dosyaları
print_*.jpg

# Python cache
__pycache__/
*.pyc
*.pyo

# Video frame çıktıları
frame_[0-9]*.jpg

# OS
.DS_Store
Thumbs.db

# Referans görsel (opsiyonel - istemiyorsan sil bu satırı)
ölçü.png
